.home
  h4.em-alt.blue.mbl.mtm(translate="BYOB")
  .flex.flex-wrap
    activity-feed
    .col-md-6.col-sm-12.col-xs-12.col-home
      .section
        did-you-know
      .section
        .chart.hidden-xs.pos-rel
          h5.aaa.em-400.mbl(ng-class="{'mts' : transactions.length > 0 }" translate="VALUE_OVER_TIME")
          .widget.pam.pos-rel
            .empty-state.pam.flex-column.flex-center(ng-show="transactions.length > 0")
              i.ti-stats-up.h2
              h3 No Balance Yet!
              p.center-align We'll start tracking your value after you've received bitcoin into your wallet
            p.chart-label.em-700.type-sm(ng-hide="transactions.length > 0")
            nvd3-stacked-area-chart(
              data="exampleData"
              width="450"
              height="275"
              showXAxis="true"
              showYAxis="true"
              color="chartColor()"
              xAxisTickFormat="xAxisTickFormat()"
              ng-hide="transactions.length > 0"
            )
